@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-text;
  }
}

.bg-primary {
  background-color: #1d9bf0;
}

.ql-container {
  font-size: inherit !important;
  position: relative;
  border: none !important;
}
.ql-editor {
  padding: 0px !important;
  color: gainsboro !important;
}
.ql-editor.ql-blank::before {
  width: inherit !important;
  color: #808080 !important;
  font-style: normal !important;
  padding-left: 0px !important;
  margin-left: 0px !important;
  text-align: left !important;
  left: 0 !important;
  right: 0 !important;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.reactEasyCrop_CropArea {
  border: 2px solid #1d9bf0 !important;
}
* {
  -webkit-tap-highlight-color: transparent;
}
